<div class="d-flex flex-column flex-shrink-0 bg-transparent border-end light" style="height: 100vh">
    <ul class="nav nav-pills flex-column mb-auto mt-5">
        <li class="nav-item mt-4">
            <%= render "categories/categories", collection: @categories %>
        </li>
    </ul>
</div>
